.navigation {
  height: 130px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--menu-color);
}

.dropDown {
  position: absolute;
  display: none;
  background-color: var(--menu-background-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 350px;
  z-index: 1;
}

.dropDownElement {
  margin: 1rem;
}

.dropDown a:hover {
  text-decoration: underline;
}

nav li:hover .dropDown {
  display: block;
}

.navElement {
  font-size: 2rem;
  font-weight: 800;
  text-transform: uppercase;
}

.navElement a:hover {
  color: #fff !important;
}
